<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../css/main.css" />
</head>
<titleContent>
    <div class="techOATitle"><h1>Tech OA<span> v1.0.0</span></h1></div>
</titleContent>
<titleContent1>
    <div class="techOATitle1"><h1>Tech OA<span> v1.0.0</span></h1></div>
</titleContent1>
</html>