<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body id="example" style="background: #efefef;" ontouchstart="">
<div class="container">
    <div th:replace="inc/header :: titleContent"></div>
<form action="/login.html" method="post">
    <p>
        UserName: <input class="loginInput" type="text" name="userName" placeholder="Please input your account" />
    </p>
    <p>
        Password: <input class="loginInput" type="password" name="password" placeholder="Please input your password" />
    </p>
    <p>
        <input class="loginClass" type="submit" value="Sign In" />
    </p>
</form>
</div>
<div th:replace="inc/footer"></div>
</body>
</html>