<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body id="example" style="background: #efefef;">
<div class="container">
    <div th:replace="inc/header :: titleContent1"></div>



    <div style="padding-top:120px;">
        <p style="font-size:30px;margin-bottom:20px;">
            <a href="/user/index.html"> &lt; GOBACK</a>
        </p>
    <form action="/user/executeModify.html" method="post">
            原密码：<input type="number" name="oldPwd" placeholder="输入原密码"/>
            新密码：<input type="number" name="newPwd" placeholder="输入新密码"/>
            <input class="submitClass" type="submit" value="提交"/>
    </form>

    </div>


    <div class="userInfoClass">
        <span th:text="Welcome +  ' '  + *{user.userName}"></span>
        <a class="logoutClass" href="/user/modifypwd.html"> [ 修改密码 ]</a>
        <a class="logoutClass" href="/logout.html"> [ Sign Out ]</a>
    </div>
</div>
<div th:replace="inc/footer"></div>
<script th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script th:src="@{/js/userindex.js}"></script>

</body>
</html>