<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body id="example" style="background: #efefef;">
<div class="container">
    <div th:replace="inc/header :: titleContent1"></div>

    <p style="font-size:30px;margin-bottom:20px;text-align: left;padding-left: 20px;">
        <a href="/user/index.html"> &lt; GOBACK</a>
    </p>

    <div class="userManagerClass">
        <form action="/user/addUser.html" method="post">
            <h5>新增用户</h5><input style="width:200px" type="text" name="userName" placeholder="添加新用户，默认密码为123456"/> <input class="submitClass" type="submit" value="添加" />
        </form>
    </div>
    <div class="userManagerClass">
        <form action="/user/addaccount.html" method="post">
            <h5>向总账户充资金</h5> <input style="width:200px"  type="number" name="amount" placeholder="充资金的金额"/>元 <input class="submitClass" type="submit" value="提交"/>
        </form>
    </div>
    <div class="clear"></div>
    <div class="userInfoClass">
        <span th:text="Welcome + ' ' + admin"></span>
        <a class="logoutClass" href="/logout.html"> [ Sign Out ]</a>
    </div>
<hr/>
    <div class="userListClass">
        <ul>
            <li th:each="user : ${userList}">
                <form action="/user/execute.html" method="post">
                    <a class="delBtn" urlContent="" th:href="@{'/user/delUser/'+${user.id}+'.html'}">X</a>
                    <p class="userinfolist" th:text="'用户名：' + ${user.userName} + ' 昵称：' + ${user.nickName} + ' 创建时间：' + ${user.creteaTimeString}"></p>
                    <p>
                        <div>
                            <input type="hidden" name="userId" th:value="${user.id}"/>
                            <input type="hidden" name="userName" th:value="${user.userName}"/>
                            <select name="opType">
                                <option selected="selected" value="0">请选择</option>
                                <option value="1">奖励</option>
                                <option value="2">惩罚</option>
                            </select>

                        <input type="number" name="amount" placeholder="金额"/>元
                        <input class="submitClass" type="submit" value="提交"/>
                        <br/>
                        <textarea style="width: 500px;height:50px;border:1px solid #ccc;padding: 3px;" name="desc" placeholder="输入原因"></textarea>

                    </div>

                    </p>
                </form>
            </li>
        </ul>
    </div>
</div>
<script th:src="@{/js/jquery-1.7.2.min.js}"></script>
<script>
    $(document).ready(function(){
       $('.delBtn').on('click',function () {
           if(confirm('Confirm execution of del?')){

           }
       })
    });
</script>
</body>
</html>