<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="inc/header :: head"></head>
<body id="example" style="background: #efefef;">
<div class="container">
    <div th:replace="inc/header :: titleContent1"></div>
    <div class="taclass">
        <span class="totalAccountClass">Total Account: </span><span class="accountClass" th:text="*{totalAccount}"></span>
    </div>

    <hr/>

    <div class="funcList">
        <a href="/user/manage/index.html" th:if="${user.admin} == 777" th:text="UserManager"></a>
        <a href="/user/manage/index.html" th:if="${user.admin} != 777" th:text="我的奖励记录"></a>
        <a href="/user/manage/index.html" th:if="${user.admin} != 777" th:text="我的惩罚记录"></a>
    </div>
    <div class="userInfoClass">
        <span th:text="Welcome +  ' '  + *{user.userName}"></span>
        <a class="logoutClass" href="/logout.html"> [ Sign Out ]</a>
    </div>
</div>
<div th:replace="inc/footer"></div>
</body>
</html>